<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Colin Johnson's homepage.">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <script defer src="index.js"></script>
  </head>
  <body>
    <div id="container">
      <div>
        <h1>{{ htmlWebpackPlugin.options.title }}</h1>
        <nav>
          <ul>
            <li>
              <a href="https://github.com/ColinGJohnson">GitHub</a>
            </li>
            <li>
              <a href="https://gitlab.com/ColinGJohnson">GitLab</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/cgj">LinkedIn</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <canvas id="webgpu-canvas"></canvas>
  </body>
</html>
