<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Colin Johnson's personal website.">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <script defer src="index.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="inner-container">
        <h1>{{ htmlWebpackPlugin.options.title }}</h1>
        <h2>Software Developer</h2>
        <ul>
          <li>
            <a href="https://github.com/ColinGJohnson">GitHub</a>
          </li>
          <li>
            <a href="https://gitlab.com/ColinGJohnson">GitLab</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/cgj">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
    <canvas id="webgpu-canvas"></canvas>
    <div id="no-webgpu" style="display:none;">
        <h4>Error: Your browser does not support WebGPU</h4>
    </div>
  </body>
</html>
