:root {
    --solarized-base-2: #eee8d5;
    --solarized-base-3: #fdf6e3;
}

body {
    background-color: #111;
    color: var(--solarized-base-3);
    font-family: monospace;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0 30px;
    display: flex;
    justify-content: center;
}

#webgpu-canvas {
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 900;
    font-size: 72px;
    font-family: serif;
    text-align: center;
    border-bottom: 1px solid gray;
    margin-top: 20vh;
    margin-bottom: 0;
}

a {
    color: var(--solarized-base-3);
}

a:hover {
    color: var(--solarized-base-2);
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
}

ul li {
    display: inline-block;
    font-size: 14px;
}

ul li::after {
    content: '|';
    color: gray;
    padding: 0 10px;
}

ul li:last-child::after {
    content: '';
}